form{
    border-radius: 5%;
    border-style: solid;
    border-color: rgba(85, 23, 23, 0.567);
    width: 600px;
    height: 600px;
    text-align: center;
    margin-left: 30%;
    margin-top: 20px;
    justify-items: center;
    background-color:  rgb(195, 119, 65);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#FAD7A0;

}
input ,select,textarea{
    color: blanchedalmond;

}
button{
    width: 100px;
    height: 50px;
    color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
    form select, form input, form textarea, form button {
    text-align: center;
    color:  rgb(195, 119, 65);

  }
 

header{
    margin: 30px;
    font-size:25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}  
