#all{
    width: 150px;
    height: 150px;
    border: 1.5px;
    border-color:  rgb(195, 119, 65);
    font-size: medium;
    color: rgb(195, 119, 65);
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    border-width: 5px;
    margin: 10px;
    background-color: blanchedalmond;
}