<div id="all">
    <label>מספר:</label>
    <span [innerText] = "revenue.id" ></span><br>
    <label>שם לקוח:</label>
    <span [innerText] = "revenue.customer" ></span><br>
     <label>תאריך:</label>
    <span [innerText] = "revenue.date" ></span><br>
    <label>סכום:</label>
    <span [innerText] = "revenue.amount" ></span><br>
    <label>אופן תשלום:</label>
    <span [innerText] = "revenue.paymentMethods" ></span><br>
    <label>פרטים:</label>
    <span [innerText] = "revenue.details" ></span><br>

</div>